# Project exclude paths
/.gradle/
/Blockchain/task/build/
/Blockchain/task/out/
/Blockchain/task/out/production/classes/
/Topics/LocalDate/2 weeks after/out/
/Topics/LocalDate/2 weeks after/out/production/classes/
/Topics/LocalDate/Theory/build/
/Topics/LocalDate/Theory/out/
/Topics/LocalDate/Theory/out/production/classes/